#!/bin/bash

{{ ansible_managed | comment }}

set -x
export PATH=$PATH:/sbin
ip_rule="fwmark 1 lookup 100"
ip_route="local default dev lo table 100"

# Remove current rules
iptables-save -c | grep -v "V2RAY" | iptables-restore -c
ip rule del $ip_rule 2>/dev/null
ip route del $ip_route 2>/dev/null
for ipset_name in $(ipset -n list | grep "{{ domain_based_routing_id_prefix }}"); do
    ipset destroy "$ipset_name" 2>/dev/null
done

set -euo pipefail

# Create new chain
export ipta="iptables -A V2RAY -t" # <TABLE> ...
iptables -N V2RAY -t nat
iptables -N V2RAY -t mangle

# Ignore V2Ray outbound traffic
$ipta nat -m mark --mark "{{ so_mark_direct }}" -j RETURN
$ipta nat -m mark --mark "{{ so_mark_forward }}" -j RETURN
$ipta mangle -m mark --mark "{{ so_mark_direct }}" -j RETURN
$ipta mangle -m mark --mark "{{ so_mark_forward }}" -j RETURN

{% for addr in special_addresses + ignored_addresses %}
$ipta nat -d "{{ addr }}" -j RETURN
$ipta mangle -d "{{ addr }}" -j RETURN
{% endfor %}

# Redirect port 53 to local dnsmasq.
{% if dns_hijacking %}
$ipta nat --dport 53 -j REDIRECT --to-ports 53
{% endif %}

# Don't redirect UDP traffic in NAT table.
$ipta nat -p udp -j RETURN

# Domain-based routing
{% for route in (domain_based_routes if domain_based_routing_enabled else []) %}
ipset create {{ route.ipset_name }} hash:ip hashsize 64
$ipta nat -m set --match-set {{ route.ipset_name }} dst -p tcp -j REDIRECT --to-ports "{{ route.inbound_port }}"
{% if udp_enabled %}
$ipta mangle -m set --match-set {{ route.ipset_name }} dst -p udp -j TPROXY --on-port "{{ route.inbound_port }}" --tproxy-mark 0x01/0x01
{% endif %}
{% endfor %}

# Anything else should be redirected to Dokodemo-door's local port
$ipta nat -p tcp -j REDIRECT --to-ports "{{ tproxy_port }}"
{% if udp_enabled %}
ip rule add $ip_rule
ip route add $ip_route
$ipta mangle -p udp -j TPROXY --on-port "{{ tproxy_port }}" --tproxy-mark 0x01/0x01
{% endif %}

# Apply the rules
{% if local_traffic %}
iptables -t nat -A OUTPUT -j V2RAY
{% endif %}
iptables -t nat -A PREROUTING -j V2RAY
iptables -t mangle -A PREROUTING -j V2RAY
