#!/bin/bash

{{ ansible_managed | comment }}

set -euo pipefail

export STATS="{{ stats_storage }}/$(date +%Y_%m_%d-%H_%M_%S).log"

if [[ ! -d "{{ stats_storage }}" ]]; then
    mkdir -p "{{ stats_storage }}"
fi

/sbin/iptables -nvL > "$STATS"
/sbin/iptables -Z

{{ stats_after_script }}
