{{ ansible_managed | comment('cblock') }}

{% set main %}
{
    "log": {
        "access": "{{ log_access }}",
        "error": "{{ log_error }}",
        "loglevel": "{{ log_level }}"
    },
    "inbounds": [
        {
            "port": 5353,
            "tag": "dns",
            "protocol": "dokodemo-door",
            "settings": {
                "address": "{{ dns_upstream }}",
                "port": 53,
                "network": "udp"
            }
        },
        {{ v2ray_processed_inbounds | map('to_json') | join(',') }}
    ],
    "dns": {
        "servers": [
            "localhost"
        ]
    },
    "outbounds": [
        {{ v2ray_outbound_direct | to_json }},
        {% if forward_mode == '*' %}
            {{ v2ray_processed_outbounds.values() | list | map('to_json') | join(',') }}
        {% else %}
            {{ v2ray_processed_outbounds[forward_mode] | to_json }}
        {% endif %}
    ],
    "routing": {
        "domainStrategy": "{{ domain_strategy }}",
        "rules": {{ (v2ray_routes + v2ray_final_routes) | to_json }}
    },
    "api": {
        "tag": "api",
        "services": [
            "HandlerService",
            "LoggerService",
            "StatsService"
        ]
    },
    "policy": {
        "levels": {
            "0": {
                "handshake": 2,
                "connIdle": {{ idle_connections_timeout }},
                "uplinkOnly": 0,
                "downlinkOnly": 0,
                "statsUserUplink": false,
                "statsUserDownlink": false
            }
        },
        "system": {
            "statsInboundUplink": true,
            "statsInboundDownlink": true
        }
    },
    "stats": {}
}
{% endset %}

{{ main | from_json | to_json(indent=2) }}
