#!/bin/bash

{{ ansible_managed | comment }}

set -euo pipefail

# Compatible with nmcli old version like v1.6.2 which is used in Armbian Stretch.
# For the latest version, a option named "--get-values" is available.
nmc="nmcli -t -m tabular"

# Setup IP addresses, DNS servers and the gateway.
CONN=$($nmc -f GENERAL.CONNECTION dev show eth0)
CIDR=$(ip -f inet addr show dev eth0 | grep -Pom1 'inet \K[\d./]+')
GATEWAY={{ local_gateway_ip if local_gateway_ip else "$(ip -f inet route show default dev eth0 | grep -Pom1 'via \K[\d.]+')" }}

$nmc conn modify "$CONN" \
    ipv4.method manual \
    ipv4.addresses "$CIDR" \
    ipv4.gateway "$GATEWAY" \
    ipv4.dns "{{ local_dns_server }}"

# Bring up the connection.
nmcli conn up "$CONN"
