#/bin/bash

{{ ansible_managed | comment }}

LOG=/var/log/healthcheck.log
ERROR_LOG=/var/log/healthcheck.error.log
RESULT=$(mktemp)

date >> "$LOG"
date >> "$ERROR_LOG"

if ({{ healthcheck_commands | join(';') }}) 2>&1 >"$RESULT"; then
    URI=''
else
    URI='/fail'
fi

curl --max-time 10 -fsS --retry 3 -X POST --data-binary "@$RESULT" \
    "http://hc-ping.com/{{ healthchecks_uuid }}$URI" \
    >> "$LOG" \
    2>> "$ERROR_LOG"

rm "$RESULT"

echo >> "$LOG"
echo >> "$ERROR_LOG"
