#/bin/bash

{{ ansible_managed | comment }}

if RESULT=$({{ healthcheck_commands | join(' && ') }}); then
    URI=''
else
    URI='/fail'
fi

curl -v -4fsS -m 5 --retry 3 -X POST -H "Content-Type: text/plain" -d "$RESULT" \
    "http://hc-ping.com/{{ healthchecks_uuid }}$URI"
