#!/bin/bash

{{ ansible_managed | comment }}

set -x

export http_proxy=http://127.0.0.1:{{ http_proxy_port }} \
       https_proxy=http://127.0.0.1:{{ http_proxy_port }}

download_file() {
    local temp=$(mktemp)
    curl -fL --retry 3 -o "$temp" "$1"
    cp -f "$temp" "$2"
    rm "$temp"
}

download_file "https://gitlab.com/wi1dcard/v2ray-resources/-/jobs/artifacts/master/raw/publish/geoip.dat?job=geoip" \
    "/usr/local/v2ray/geoip.dat"

download_file "https://gitlab.com/wi1dcard/v2ray-resources/-/jobs/artifacts/master/raw/publish/geosite.dat?job=geosite" \
    "/usr/local/v2ray/geosite.dat"

echo "Resources has been updated."
