#!/bin/bash

{{ ansible_managed | comment }}

set -x

extract_latest_url() {
    [[ $GITHUB_TOKEN != "" ]] && local auth="Authorization: token $GITHUB_TOKEN" || local auth=""
    curl -fsS -H "$auth" "https://api.github.com/repos/$1/releases/latest" \
        | grep browser_download_url \
        | cut -d '"' -f 4
}

download_file() {
    local temp=$(mktemp)
    curl -fL -o "$temp" "$1"
    cp -f "$temp" "$2"
    rm "$temp"
}

download_latest_release() {
    local url=$(extract_latest_url "$1")
    [ -z "$url" ] || download_file "$url" "$2"
}

download_latest_release "v2ray/domain-list-community" "/usr/local/v2ray/geosite.dat"
download_latest_release "v2ray/geoip" "/usr/local/v2ray/geoip.dat"

echo "Resources has been updated."
